body {
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
}

nav {
    display: flex;
    background-color: gainsboro;
    height: 50px;
    weight:100px;
}

aside {
    background-color: gray;
    display: flex;
    height: 200px;
    weight:100px;
}